In [2]:
import pandas as pd
import numpy as np
import time

In [4]:
ratings_df = pd.read_csv('processed-data/ratings.csv')

In [5]:
ratings_df.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [6]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(ratings_df, test_size=0.2)

In [7]:
train_data = train_data.sort_values(by=['user_id','movie_id'])
train_data

       user_id  movie_id  rating  timestamp
32236        1         1       5  874965758
83307        1         3       4  878542960
62631        1         4       3  876893119
47638        1         5       3  889751712
5533         1         6       5  887431973
...        ...       ...     ...        ...
99133      943      1047       2  875502146
68857      943      1067       2  875501756
78704      943      1188       3  888640250
86600      943      1228       3  888640275
92115      943      1330       3  888692465

[80000 rows x 4 columns]

In [15]:
train_data.to_csv('train_file.csv', index=False)

In [9]:
test_data = test_data.sort_values(by=['user_id','movie_id'])
test_data.to_csv('test_file.csv', header=False, sep=';', index=False)